<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--安全管理/角色管理-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Target Material Design Bootstrap Admin Template</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="${BASE_PATH}static/backend/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="${BASE_PATH}static/backend/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="${BASE_PATH}static/backend/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="${BASE_PATH}static/backend/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="${BASE_PATH}static/backend/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="${BASE_PATH}static/backend/assets/js/Lightweight-Chart/cssCharts.css">
</head>
<body>
    <div id="wrapper">
		<!--admin/header-->
		<nav class="navbar navbar-default top-navbar" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand waves-effect waves-dark" href="index.html"><i class="large material-icons">track_changes</i> <strong>后台管理</strong></a>
				<div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
			</div>
			<!--右侧菜单列表-->
			<ul class="nav navbar-top-links navbar-right">
				<li><a class="dropdown-button waves-effect waves-dark" href="../" ><i class="fa fa-user fa-fw"></i> <b>网站首页</b> </a></li>
				<li><a class="dropdown-button waves-effect waves-dark" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>${session.session_user.realname}</b> <i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</nav>
		<!-- 下拉列表/通过id定位上级 -->
		<ul id="dropdown1" class="dropdown-content">
			<li><a href="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a></li>
		</ul>
		<!--//admin/header-->

        <!--左侧菜单  -->
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="../admin/home" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i> 首页</a>
                    </li>
                    <li>
                        <a href="../admin/security_role" class="active-menu waves-effect waves-dark"><i class="fa fa-desktop"></i> 角色管理</a>
                    </li>

                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
<!--菜单栏+右中内容的大盒子-->
<div id="page-wrapper">
	<div class="header"> 
        <h1 class="page-header">
                	角色管理
        </h1>
	    <ol class="breadcrumb">
			<li><a href="../admin">首页</a></li>
			<li><a href="#">安全管理 </a></li>
			<li><a href="#">角色管理 </a></li>
			<li class="active">Data</li>
		</ol> 							
	</div>
		<!--666-->
	<div id="page-inner"> 
		
		<div class="row">
			<div class="col-lg-12">
	            <div class="card">
	            	<div class="card-action">
                            	管理角色
                    </div>
                    
					<div class="card-content">
						<table class="table table-striped highlight centered responsive-table">
							<thead>
								<tr>
									<th>序号</th>
								 	<th>角色名称</th> 
								 	<th>权限</th> 
									<th>修改时间</th>
									<th>修改人</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
                            <% for(item in page.list){ %>
							 	<tr>
							 		<td>${itemLP.index }</td><!--序号-->
							 		<td>${item.name}</td><!--角色名称-->
							 		<td><% if(item.status==2) { %>
                                        隐藏
                                        <%	} %>
                                        <% if(item.status==1) { %>
                                        显示
                                        <%	} %></td><!--权限-->
							 		<td>${item.createtim}</td><!--修改时间-->
							 		<td>${item.createid}</td><!--修改人-->
							 		<td>
							 			<!--<a class="waves-effect waves-light btn">分配权限</a>&nbsp;-->
							 			<a class="waves-effect waves-light btn">删除</a>
							 		</td>
							 	</tr>
                            <% } %>
							 	<!--<tr>&lt;!&ndash;模拟数据&ndash;&gt;
							 		<td>2</td>
							 		<td>狗剩</td>
							 		<td>特派员</td>
							 		<td>2017-12-15 17:24:53</td>
							 		<td>admin</td>
							 		<td>
							 			<a class="waves-effect waves-light btn">分配权限</a>&nbsp;
							 			<a class="waves-effect waves-light btn">删除</a>
							 		</td>
							 	</tr>-->
						 	</tbody>
						</table>
	   					<div class="clearBoth"></div>
					</div>
					
  				</div>
			</div>	
		</div>		
		
	</div><!-- /. PAGE WRAPPER  -->

</div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="${BASE_PATH}static/backend/assets/js/jquery-1.10.2.js"></script>
	
	<!-- Bootstrap Js -->
    <script src="${BASE_PATH}static/backend/assets/js/bootstrap.min.js"></script>
	
	<script src="${BASE_PATH}static/backend/assets/materialize/js/materialize.min.js"></script>
	
    <!-- Metis Menu Js -->
    <script src="${BASE_PATH}static/backend/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="${BASE_PATH}static/backend/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="${BASE_PATH}static/backend/assets/js/morris/morris.js"></script>
	

	<script src="${BASE_PATH}static/backend/assets/js/easypiechart.js"></script>
	<script src="${BASE_PATH}static/backend/assets/js/easypiechart-data.js"></script>
	
	<script src="${BASE_PATH}static/backend/assets/js/Lightweight-Chart/jquery.chart.js"></script>
	
    <!-- Custom Js -->
   <script src="${BASE_PATH}static/backend/assets/js/custom-scripts.js"></script>


</body>

</html>
