/* tepaiyuan.html、、、 :功能模块center中的样式*/

/*.centerBox-left{margin-bottom: 3px;background: #E6E6E6;}
.centerBox-left ul li{padding: 2px;}
.centerBox-left-c1 button{background: white;font-size: 14px;}


.centerBox-right{}
.centerBox-right h4{text-align: center;font-weight: bolder;}
.centerBox-right-c1 ul li{display: inline-block;}
.centerBox-right-c1 p img{width: 36px;height: 15px;}
.newData{text-align: center;}*/
/*

.centerBox-right-c2 table{width: 90%;margin: 3px auto;text-align: center;}
.centerBox-right-c2 table td:nth-child(2){color: black;}
.centerBox-right-c2 button{margin: 2px;}

*/
/*手机*/
/*@media screen and (min-width: 66px) {
    .centerBox-left ul li{display: inline-block;}
	 .centerBox-right-c2 table{width: 100%;font-size:14px;text-align: center;}
}*/
/*平板*/
/*@media screen and (min-width: 768px) {
    .centerBox-left ul li{display: block;}
    .centerBox-right-c2 table{width: 100%;font-size:18px;text-align: center;}
	.centerBox-left button{width: 50%;}
	
}*/


/*特派员--解答列表*/
