<h4>帮扶企业</h4>
<ul>
	<% var x=0; for(item in albumlist){ x++;%>
	<% if  (session.albumId==item.id) { %>
	<li class="bangfuqiye_c1">
		<a href="${BASE_PATH }front/addoil/${item.id}" title="${item.name}">
			${item.name}
		</a>
	</li>
	<% } else { %>
	<li class="bangfuqiye_c2">
		<a href="${BASE_PATH }front/addoil/${item.id}" title="${item.name}">
			${item.name}
		</a>
	</li>
	<% } %>
	<% } %>
	<!--<li><button type="button" class="btn btn-xs tepaiyuan_c2" onclick="">分类二</button></li>
	<li><button type="button" class="btn btn-xs tepaiyuan_c3" onclick="">分类三</button></li>-->
</ul>




