
<h4>创客活动</h4>
<ul>
	<li class="chuangkehuodong_new">
		<a href="${BASE_PATH }front/maker/1" title="最新活动">
			<!--<button type="button" class="btn btn-xs chuangkehuodong_c1" onclick="chuangkehuodong_c1()" style="border: 2px solid;">最新活动</button>-->
			最新活动
		</a>
	</li>
	<li class="chuangkehuodong_old">
		<a href="${BASE_PATH }front/maker/2" title="往期活动">
			<!--<button type="button" class="btn btn-xs chuangkehuodong_c2" onclick="chuangkehuodong_c2()">往期活动</button>-->
			往期活动
		</a>
	</li>
</ul>



