
<h4>创客活动</h4>
<ul>
	<li>
		<a href="${BASE_PATH }front/maker/1" title="最新活动">
			<!--<button type="button" class="btn btn-xs chuangkehuodong_c1" onclick="chuangkehuodong_c1()" style="border: 2px solid;">最新活动</button>-->
			<button type="button" class="btn btn-xs chuangkehuodong_c1"  style="border: 2px solid;">最新活动</button>
		</a>
	</li>
	<li>
		<a href="${BASE_PATH }front/maker/2" title="往期活动">
			<!--<button type="button" class="btn btn-xs chuangkehuodong_c2" onclick="chuangkehuodong_c2()">往期活动</button>-->
			<button type="button" class="btn btn-xs chuangkehuodong_c2" >往期活动</button>
		</a>
	</li>
</ul>



