	 <%
	 	// 传递变量  
	 	// 文章列表 articlelist 必填
	 	// 默认图片 defalutimg 选填
	 	var sessionUserId = isEmpty(session.session_user) ? 0: session.session_user.userid;
	 %>
	 <ul class="temaiquUL">
			 <%
			 var x=0;
			 for(item in articlelist.list){ %>
		 			<li>
					 <div>
						 <% if (!isEmpty(item.image_net_url)) { %>
							 <img alt="${item.name}" src="${item.image_net_url}" onerror="onerror=null;src='${BASE_PATH }static/images/common/no_image.jpg'"  data-holder-rendered="true"/>
						 <% } else { %>
							 <img alt="${item.name}" src="${flyfox.getImage(item)}" onerror="onerror=null;src='${BASE_PATH }static/images/common/no_image.jpg'"  data-holder-rendered="true"/>
						 <% } %>
					 </div>
						<div>
						 <p><a href="${BASE_PATH }front/sale/article/${item.id}.html">${item.name}</a></p>
					 </div>
				 </li>
			 <% } %>
	 </ul>

	 <%include("/template/special/includes/paginatorbar.html",{page:articlelist}){} %>
