	 <%
	 	// 传递变量  
	 	// 文章列表 articlelist 必填
	 	// 默认图片 defalutimg 选填
	 	var sessionUserId = isEmpty(session.session_user) ? 0: session.session_user.userid;
	 %>

	 <table>
		 <tr>
			 <%
			 var x=0;
			 for(item in articlelist.list){
				  x=x+1;
				 if (x==5){ %>
		 			<tr>
					 <td>
						 <img alt="${item.name}" src="${flyfox.getImage(item)}" onerror="onerror=null;src='${BASE_PATH }static/images/common/no_image.jpg'"  data-holder-rendered="true"/>
						 <p><a href="${BASE_PATH }front/sale/article/${item.id}.html">${item.name}</a></p>
					 </td>
				 <% }else { %>
				 <td>
					 <img alt="${item.name}" src="${flyfox.getImage(item)}" onerror="onerror=null;src='${BASE_PATH }static/images/common/no_image.jpg'"  data-holder-rendered="true"/>
					 <p><a href="${BASE_PATH }front/sale/article/${item.id}.html">${item.name}</a></p>
				 </td>
			 <% }} %>
		 </tr>
		 </tr>
		 <tr>
			 <td>
				 <img src="../../images/banner.jpg"/>
				 <p><a href="#" data="5">纯羊毛毛线球</a></p>
			 </td>
		 </tr>
	 </table>

	 <%include("/template/special/includes/paginatorbar.html",{page:articlelist}){} %>
