/*特派员Style*/
.centerBox-right h4,.centerBox-right-c2{text-align: center;font-weight: bolder;}
.centerBox-right-c2 table{width: 90%;margin: 3px auto;text-align: center;}
.centerBox-right-c2 table td{font-weight: 500;}

.onlyMessage td:nth-child(2){color: black;}
.centerBox-right-c2 button{margin: 2px;}
