<table class="table table-striped ok">

	<tbody>

	<%	//政策法规 305
	//var policys=temp.policyPage(1,10,305); %>
	var policyss=temp.articlePage(1,10,301);

	<% for(item in policys.list){ %>
	<% if(itemLP.index > 0){ %>
	<tr>
		<td><a href="${BASE_PATH }front/article/${item.id}.html"target="_blank" title="${item.title}">
			<% if (strutil.length(item.title) > 18) { %>
			${strutil.subStringTo(item.title, 0, 18)}...
			<% 	} else { %>
			${item.title}
			<%  } %></a></td>
		<td>${flyfox.substr(item.create_time,0,19) }</td>
		<td><button type="button" class="btn btn-default btn-sm baoming">我要报名</button></td>
	</tr>
	<% } %>
	<% } %>
	<!--
	<tr>
	 		<td><a href="#">1、2017北京农业活动首次在社区展开 活动内容分丰富多样</a></td>
	 		<td>2017-11-19 14:51:59</td>
	 		<td><button type="button" class="btn btn-default btn-sm baoming">我要报名</button></td>
	 	</tr>
	 	<tr>
	 		<td><a href="#">1、2017北京农业活动首次在社区展开 活动内容分丰富多样</a></td>
	 		<td>2017-11-19 14:51:59</td>
	 		<td><button type="button" class="btn btn-default btn-sm baoming">我要报名</button></td>
	 	</tr>-->
 	</tbody>
</table>
<p class="pageBtnList">
	<button type="button" class="btn btn-default btn-sm">首页</button>
	<button type="button" class="btn btn-default btn-sm img-circle">上一页</button>
	<button type="button" class="btn btn-default btn-xs">1</button>
	<button type="button" class="btn btn-default btn-xs">2</button>
	<button type="button" class="btn btn-default btn-xs">3</button>
	<button type="button" class="btn btn-default btn-xs">4</button>
	<button type="button" class="btn btn-default btn-xs">5</button>
	<button type="button" class="btn btn-default btn-sm img-circle">下一页</button>
	<button type="button" class="btn btn-default btn-sm">尾页</button>
</p>
<p class="pageBtnList">
	第<span>1</span>页&nbsp;共<span>6</span>页&nbsp;共<span>30</span>条记录
</p>