
/*图片自适应*/
.centerBox-right-c2 .temaiquUL{display: flex;flex-wrap: wrap;text-align: center;}
.centerBox-right-c2 .temaiquUL li{padding: 3px;}
.centerBox-right-c2 .temaiquUL li div:nth-child(2) p a{width: 100%;display: inline-block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
/*图片自适应*/
.centerBox-right-c2 .temaiquUL li div:nth-child(1) img{width: 100%;height: 100%;}


	/*手机*/
	@media screen and (min-width:200px) and (max-width:768px){
	    .centerBox-right-c2 .temaiquUL li{width: 50%;}
		.centerBox-right-c2 .temaiquUL li div:nth-child(1){height: 200px;}
		
	}
	/*平板*/
	@media screen and (min-width:769px) and (max-width:991px){
		.centerBox-right-c2 .temaiquUL li{width: 33.3%;}
		.centerBox-right-c2 .temaiquUL li div:nth-child(1){height: 100px;}
	}
	/*电脑桌面*/
	@media screen and (min-width:922px) and (max-width:1999px){
		.centerBox-right-c2 .temaiquUL li{width: 25%;}
		.centerBox-right-c2 .temaiquUL li div:nth-child(1){height: 150px;}
	    
	}
	/*超大屏幕*/
	@media screen and (min-width:1200px){
		.centerBox-right-c2 .temaiquUL li{width: 20%;}
		.centerBox-right-c2 .temaiquUL li div:nth-child(1){height: 200px;}
	}

