<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--特卖/历史-->
<script type="text/javascript">
function oper_delete(id) {
		location.href="sale_history/delArticle/"+id;
		return false;
	}
</script>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Target Material Design Bootstrap Admin Template</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="${BASE_PATH }static/backend/assets/materialize/css/materialize.min.css" media="screen,projection" />
	<!-- Bootstrap Styles-->
	<link href="${BASE_PATH }static/backend/assets/css/bootstrap.css" rel="stylesheet" />
	<!-- FontAwesome Styles-->
	<link href="${BASE_PATH }static/backend/assets/css/font-awesome.css" rel="stylesheet" />
	<!-- Morris Chart Styles-->
	<link href="${BASE_PATH }static/backend/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
	<!-- Custom Styles-->
	<link href="${BASE_PATH }static/backend/assets/css/custom-styles.css" rel="stylesheet" />
	<!-- Google Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="${BASE_PATH }static/backend/assets/js/Lightweight-Chart/cssCharts.css">
	<link rel="stylesheet" href="${BASE_PATH }static/backend/adminStyle/all.css" />
</head>
<body>
<div id="wrapper">
	<nav class="navbar navbar-default top-navbar" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand waves-effect waves-dark" href="index.html"><i class="large material-icons">track_changes</i> <strong>特卖区</strong></a>

			<div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
		</div>

		<!--右侧菜单列表-->
		<ul class="nav navbar-top-links navbar-right">
			<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>John Doe</b> <i class="material-icons right">arrow_drop_down</i></a></li>
		</ul>
	</nav>
	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
		</li>
	</ul>


	<!--左侧菜单  -->
	<nav class="navbar-default navbar-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="main-menu">

				<li>
					<a href="../admin" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i> 信息统计</a>
				</li>
				<li>
					<a href="publish" class="active-menu waves-effect waves-dark"><i class="fa fa-desktop"></i> 历史发布</a>
				</li>

			</ul>

		</div>

	</nav>
	<!-- /. NAV SIDE  -->
	<!--菜单栏+右中内容的大盒子-->
	<div id="page-wrapper">
		<div class="header">
			<h1 class="page-header">
				历史发布
			</h1>
			<ol class="breadcrumb">
				<li><a href="../admin">首页</a></li>
				<li><a href="publish">特卖区 </a></li>
				<li><a href="publish">历史发布 </a></li>
			</ol>
		</div>
		<!--666-->
		<div id="page-inner">

			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-action">
							历史发布记录
						</div>
						<div class="card-content">
							<table class="table table-striped highlight centered responsive-table">
								<thead>
								<tr>
									<th>序号</th>
									<th>标题</th>
									<th>属性</th>
									<th>价格</th>
									<th>数量</th>
									<th>单位</th>
									<th>内容</th>
									<th>主题图片</th>
									<th>栏目</th>
									<th>发布人</th>
									<th>时间</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody>
								<!--<tr>
									<td>1</td>
									<td>鸡蛋100块钱一斤</td>
									<td>狗蛋</td>
									<td>2018-11-19 14:51:59</td>
									<td>
										<a class="waves-effect waves-light btn">删除</a>
									</td>
								</tr>-->
								<!--全部显示//待分页弄好,再删除-->
								<% for(item in lists){ %>
								<tr>
									<td>${itemLP.index}</td>
									<td>${item.name}</td>
									<td>${item.property}</td>
									<td>${item.price}</td>
									<td>${item.num}</td>
									<td>${item.unit}</td>
									<td>见详情页</td>
									<%if(""==item.image_url){%><!--12.5-->
									<td><img src="${item.image_net_url}" style="height:80px;width:80px;"></td>
									<%}else {%>
									<td><img src="${BASE_PATH}${item.image_url}" style="height:80px;width:80px;"></td>
									<%}%>
									<td>${item.album_name}</td>
									<td>${item.publish_user}</td>
									<td>${item.update_time}</td>
									<td>
										<a class="waves-effect waves-light btn" onclick="oper_delete(${item.id!'0'});">删除</a>
									</td>
								</tr>
								<% } %>
								<!--<%
                               var sales=tempSale.sales(1,5);%>
                                <% for(item in sales.list){ %>
                                    <tr>
                                         <td>${itemLP.index}</td>
                                         <td>${item.name}</td>
									<td>${item.property}</td>
									<td>${item.price}</td>
									<td>${item.num}</td>
									<td>${item.unit}</td>
								<td>${item.content}</td>
								<%if(""==item.image_url){%>
                                    <td><img src="${item.image_net_url}" style="height:80px;width:80px;"></td>
                                    <%}else {%>
                                    <td><img src="${BASE_PATH}${item.image_url}" style="height:80px;width:80px;"></td>
                                    <%}%>
                                <td>${item.album_name}</td>
                                         <td>${item.publish_user}</td>
                                         <td>${item.update_time}</td>
                                             <a class="waves-effect waves-light btn" onclick="oper_delete(${item.id!'0'});">删除</a>
                                         </td>
                                     </tr>
                                <% } %>-->
								</tbody>
							</table>
							<p class="pageBtnList">
								<button type="button" class="btn btn-default btn-sm">首页</button>
								<button type="button" class="btn btn-default btn-sm img-circle">上一页</button>
								<button type="button" class="btn btn-default btn-xs">1</button>
								<button type="button" class="btn btn-default btn-xs">2</button>
								<button type="button" class="btn btn-default btn-xs">3</button>
								<button type="button" class="btn btn-default btn-xs">4</button>
								<button type="button" class="btn btn-default btn-xs">5</button>
								<button type="button" class="btn btn-default btn-sm img-circle">下一页</button>
								<button type="button" class="btn btn-default btn-sm">尾页</button>
							</p>
							<p class="pageBtnList">
								第<span>1</span>页&nbsp;共<span>6</span>页&nbsp;共<span>30</span>条记录
							</p>
							<div class="clearBoth"></div>
						</div>

					</div>
				</div>
			</div>

		</div><!-- /. PAGE WRAPPER  -->

	</div>
	<!-- /. WRAPPER  -->
	<!-- JS Scripts-->
	<!-- jQuery Js -->
	<script src="${BASE_PATH }static/backend/assets/js/jquery-1.10.2.js"></script>

	<!-- Bootstrap Js -->
	<script src="${BASE_PATH }static/backend/assets/js/bootstrap.min.js"></script>

	<script src="${BASE_PATH }static/backend/assets/materialize/js/materialize.min.js"></script>

	<!-- Metis Menu Js -->
	<script src="${BASE_PATH }static/backend/assets/js/jquery.metisMenu.js"></script>
	<!-- Morris Chart Js -->
	<script src="${BASE_PATH }static/backend/assets/js/morris/raphael-2.1.0.min.js"></script>
	<script src="${BASE_PATH }static/backend/assets/js/morris/morris.js"></script>


	<script src="${BASE_PATH }static/backend/assets/js/easypiechart.js"></script>
	<script src="${BASE_PATH }static/backend/assets/js/easypiechart-data.js"></script>

	<script src="${BASE_PATH }static/backend/assets/js/Lightweight-Chart/jquery.chart.js"></script>

	<!-- Custom Js -->
	<script src="${BASE_PATH }static/backend/assets/js/custom-scripts.js"></script>


</body>

</html>
