<!DOCTYPE html>
<html lang="en">
<head>
    <title>政策法规</title>
    <!-- meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta-tags -->
    <!-- Custom Theme files -->
    <link href="${BASE_PATH }static/frontend/css/all.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="${BASE_PATH }static/frontend/css/policy/zhengcefagui.css" />
    <!-- js -->
    <script src="${BASE_PATH }static/frontend/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- web-font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <!-- //web-font -->
    <script>

    </script>
</head>
<body>
<!-- header -->
<% include("/template/special/includes/header_article.html"){} %>
<!-- //header -->
<!-- centerBox -->
<div class="centerBox container-fluid">
    <div class="row">
        <!--中间--左边-->
        <div class="centerBox-left col-md-4 col-sm-4 col-xs-12">
            <div class="centerBox-left-c1">
                <% var albums=tempPolicy.albums();
                %>
                <% include("/template/special/includes/policyalbumlist.html",{albumlist:albums}){} %>
            </div>
            <div class="centerBox-left-c2">
                <h4>联系我们</h4>
                <p>
                    地址：${sysuser.address}<br />
                    邮箱：${sysuser.email}<br />
                    电话：${sysuser.tel}<br />
                    微信：${sysuser.weixin}<br />
                </p>
            </div>
        </div>
        <!--中间--右边-->
        <div class="centerBox-right col-md-8 col-sm-8 col-xs-12">
            <div class="centerBox-right-c1">
                <ol class="breadcrumb">
                    <li><a href="../../../index.html">首页</a></li>
                    <li><a href="../../../policy.html">政策法规</a></li>
                    <!--<li class="active">正文</li>-->
                </ol>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="input-group" style="margin: 3px 0px;">
                                <input type="text" class="form-control" placeholder="请输入您要搜索的内容">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">搜索</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="centerBox-right-c2">
            </div>
            <div class="centerBox-right-c3">
                <h4>${item.name}</h4>
                <p class="newData">${item.create_time}</p>
                <p>
                    ${item.content!'' }
                </p>
            </div>
        </div>
    </div>

</div>
<!-- //centerBox -->
<!-- footer -->
<% include("/template/special/includes/footer1.html"){} %>
<!-- //footer -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="${BASE_PATH }static/frontend/js/move-top.js"></script>
<script type="text/javascript" src="${BASE_PATH }static/frontend/js/easing.js"></script>
<script type="text/javascript" src="${BASE_PATH }static/frontend/js/jquery-1.11.1.min.js" ></script>
<script type="text/javascript" src="${BASE_PATH }static/frontend/js/policy/article.js" ></script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			//$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- for bootstrap working -->
<script src="${BASE_PATH }static/frontend/js/bootstrap.js"> </script>
<!-- //for bootstrap working -->
</body>
</html>