<!DOCTYPE html>
<html lang="en">
<head>
    <title>特派员</title>
    <!-- meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta-tags -->
    <!-- Custom Theme files -->
    <link href="${BASE_PATH }static/frontend/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="${BASE_PATH }static/frontend/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="${BASE_PATH }static/frontend/css/special/tepaiyuan.css" />
    <link href="${BASE_PATH }static/frontend/css/font-awesome.css" rel="stylesheet"> 			<!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="${BASE_PATH }static/frontend/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- web-font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <!-- //web-font -->
    <script>

    </script>
</head>
<body>
<!-- header -->
<div class="tou">

</div>
<!-- //header -->
<!-- centerBox -->
<div class="centerBox container-fluid">
    <div class="row">
        <!--中间--左边-->
        <div class="centerBox-left col-md-4 col-sm-4 col-xs-12">
            <div class="centerBox-left-c1">
                <h4>特派员</h4>
                <ul>
                    <li><button type="button" class="btn btn-xs tepaiyuan_c1" onclick="tepaiyuan_c1()" >特派员列表</button></li>
                    <li><button type="button" class="btn btn-xs tepaiyuan_c2" style="border: 2px solid;">特派员介绍</button></li>
                    <li><button type="button" class="btn btn-xs tepaiyuan_c3" onclick="tepaiyuan_c3()">对接专家</button></li>
                    <li><button type="button" class="btn btn-xs tepaiyuan_c4" onclick="tepaiyuan_c4()">解答列表</button></li>
                </ul>
            </div>
            <div class="centerBox-left-c2"></div>
        </div>
        <!--中间--右边-->
        <div class="centerBox-right col-md-8 col-sm-8 col-xs-12">
            <div class="centerBox-right-c1">
                <button class="btn btn-warning btn-xs" disabled="disabled">首页</button>
                <img src="${BASE_PATH }static/frontend/images/rightImg.png"/>
                <button class="btn btn-warning btn-xs" disabled="disabled">特派员</button>
                <img src='${BASE_PATH }static/frontend/images/rightImg.png'/><span>特派员介绍</span>
            </div>

            <div class="centerBox-right-c2">
                <h4>特派员个人信息</h4>
                <table class="table table-striped">
                    <tr>
                        <td>姓名</td><td>${item.realname}</td>
                    </tr>
                    <tr>
                        <td>性别</td><td>${item.sex}</td>
                    </tr>
                    <tr>
                        <td>民族</td><td>${item.nation}</td>
                    </tr>
                    <tr>
                        <td>出生日期</td><td>${item.birthday}</td>
                    </tr>
                    <tr>
                        <td>籍贯</td><td>${item.jiguan}</td>
                    </tr>
                    <tr>
                        <td>政治面貌</td><td>${item.politicalstatus}</td>
                    </tr>
                    <tr>
                        <td>文化程度</td><td>${item.degree}</td>
                    </tr>
                    <tr>
                        <td>服务领域</td><td>${item.serviceregion}</td>
                    </tr>
                    <tr>
                        <td>手机</td><td>${item.tel}</td>
                    </tr>
                    <tr>
                        <td>电子邮箱</td><td>${item.email}</td>
                    </tr>
                    <tr>
                        <td>微信</td><td>${item.weixin}</td>
                    </tr>
                    <tr>
                        <td>QQ</td><td>${item.qq}</td>
                    </tr>
                    <tr>
                        <td>工作经历</td><td>
                        <textarea class="form-control" rows="3">
                            ${item.workexperience}
                         </textarea>
                    </td>
                    </tr>
                </table>
                <button type="button" class="btn btn-warning" style="width: 100%;">对接此专家</button>
            </div>
            <div class="centerBox-right-c3"></div>
        </div>
    </div>

</div>
<!-- //centerBox -->
<!-- footer -->
<% include("/template/special/includes/footer1.html"){} %>
<!-- //footer -->
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="${BASE_PATH }static/frontend/js/move-top.js"></script>
<script type="text/javascript" src="${BASE_PATH }static/frontend/js/easing.js"></script>
<script type="text/javascript" src="${BASE_PATH }static/frontend/js/jquery-1.11.1.min.js" ></script>
<script type="text/javascript" src="${BASE_PATH }static/frontend/js/special/article.js" ></script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			//$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- for bootstrap working -->
<script src="${BASE_PATH }static/frontend/js/bootstrap.js"> </script>
<!-- //for bootstrap working -->
</body>
</html>