<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--新闻/发布-->
<!-- jquery -->
<% include("/template/includes/jquery.html"){} %>
<% include("/template/includes/ueditor.html"){} %>



<script type="text/javascript">
	var ue;
	$(document).ready(function(){
		ue = UE.getEditor('editor',{
			initialFrameHeight:350  //初始化编辑器高度,默认320
			,compressSide:1
			,imageScaleEnabled:false // 图片不允许拖拽
       		, toolbars: [[
                       'source', '|',
                      'bold', 'italic', 'underline', 'strikethrough', 'insertorderedlist', 'insertunorderedlist', 'paragraph', '|',
                      'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
                      'link', 'unlink', '|',
                      'simpleupload', 'insertimage', 'emotion' , 'insertcode'
                  ]]
		});

	});
function oper_save(id) {
		<!--判断栏目-->
		var albumId = $('[name="model.album_id"]').val();
		if(albumId=='-1') {
			alert('请选择栏目');
			return false;
		}

		<!--判断标题-->
		var title = $('[name="model.name"]').val();
		if(title=='') {
			alert('请输入文章题目');
			return false;
		}
		if(title.length > 80 ) {
			alert('文章（'+title.length+'字）题目过长，请输入小于80个字');
			return false;
		}

		<!--判断标题图片-->
		var image_net_url=$('[name="model.image_net_url"]').val();
		var image_url=$('[name="model.image_url"]').val();
		//alert(image_net_url);
		//alert(image_url);
		if(image_net_url==''){
			if(image_url==''){
				alert('请至少选择一种方式提交图片');
				return false;
			}
		}

		<!--判断内容-->
		if(!ue.hasContents()){
			alert('请输入文章内容');
			return false;
		}
		if(ue.getContentTxt().length > 1200){
			alert('文章（'+ue.getContentTxt().length+'字）文字过长，请输入小于1200个字');
			return false;
		}

		<!--利用插件上传文件-->


		<!--ajax上传-->
		jQuery.ajax({
			type:'POST',
			url:'newscenter_publish/publishArticle/'+id,
			data:$("form").serialize(),
			success:function(data){
				if(data.status==1){
					alert('发布成功');
					form1.action = "newscenter_publish";
					form1.submit();
					return true;
				} else {
					alert('发布失败：'+data.msg);
				}
				$('[name="old_password"]').val('');
				$('[name="new_password"]').val('');
				$('[name="new_password2"]').val('');
			},
			error:function(html){
				var flag = (typeof console != 'undefined');
				if(flag) console.log("服务器忙，提交数据失败，代码:" +html.status+ "，请联系管理员！");
				alert("服务器忙，提交数据失败，请联系管理员！");
			}
		});

		return false;
	}


<!--保存到草稿箱-->
function oper_savedraft(id) {

		<!--判断栏目-->
		var albumId = $('[name="model.album_id"]').val();
		if(albumId=='-1') {
			alert('请选择栏目');
			return false;
		}

		<!--判断标题-->
		var title = $('[name="model.name"]').val();
		if(title=='') {
			alert('请输入文章题目');
			return false;
		}
		if(title.length > 80 ) {
			alert('文章（'+title.length+'字）题目过长，请输入小于80个字');
			return false;
		}

		<!--判断标题图片-->
		var image_net_url=$('[name="model.image_net_url"]').val();
		var image_url=$('[name="model.image_url"]').val();
		//alert(image_net_url);
		//alert(image_url);
		if(image_net_url==''){
			if(image_url==''){
				alert('请至少选择一种方式提交图片');
				return false;
			}
		}

		<!--判断内容-->
		if(!ue.hasContents()){
			alert('请输入文章内容');
			return false;
		}
		if(ue.getContentTxt().length > 1200){
			alert('文章（'+ue.getContentTxt().length+'字）文字过长，请输入小于1200个字');
			return false;
		}

		<!--利用插件上传文件-->



		<!--ajax上传-->
		jQuery.ajax({
			type:'POST',
			url:'newscenter_publish/saveToDrafts/'+id,
			data:$("form").serialize(),
			success:function(data){
				if(data.status==1){
					alert('发布成功');
					form1.action = "newscenter_publish";
					form1.submit();
					return true;
				} else {
					alert('发布失败：'+data.msg);
				}
				$('[name="old_password"]').val('');
				$('[name="new_password"]').val('');
				$('[name="new_password2"]').val('');
			},
			error:function(html){
				var flag = (typeof console != 'undefined');
				if(flag) console.log("服务器忙，提交数据失败，代码:" +html.status+ "，请联系管理员！");
				alert("服务器忙，提交数据失败，请联系管理员！");
			}
		});

		return false;
}

<!--新增分类 11.30-->
function oper_addAlbum(id){
	<!--新分类名称-->
	var name=$('#albumname').val();
	if(name==''){
		return false;
	}


	<!--ajax新增-->
	jQuery.ajax({
	type:'POST',
			url:'newscenteralbum/addAlbum/'+id,
			data:$("#form1").serialize(),
			success:function(data){
			if(data.status==1){
					alert('发布成功');
						<!--模态框中新增补充代码-->
					$('#modal_tobody').append(data.modal);
						<!--下拉列表中新增代码段-->
					$('#select').append(data.option);
						<!--清空输入框内容-->
					$('#albumname').val('');
				} else {
					alert('发布失败：'+data.msg);
				}
			},
			error:function(html){
				var flag = (typeof console != 'undefined');
				if(flag) console.log("服务器忙，提交数据失败，代码:" +html.status+ "，请联系管理员！");
				alert("服务器忙，提交数据失败，请联系管理员！");
			}
		});
		return false;
}

<!--删除分类 11.30-->
function oper_delAlbum(id){

<!--ajax删除-->
<!--$("#form2").serialize()-->
	jQuery.ajax({
	type:'POST',
			url:'newscenteralbum/delAlbum/'+id,
			data:'',
			success:function(data){
			if(data.status==1){
					alert('删除成功');
						<!--页面上移除删除的分类-->
					$('#modal'+id+'').html('');
						<!--移除下拉列表中的分类-->
					$('#option'+id+'').css('display','none');
				} else {
					alert('删除失败：'+data.msg);
				}
			},
			error:function(html){
				var flag = (typeof console != 'undefined');
				if(flag) console.log("服务器忙，提交数据失败，代码:" +html.status+ "，请联系管理员！");
				alert("服务器忙，提交数据失败，请联系管理员！");
			}
		});

		return false;
}



<!--显示隐藏框-->
function opendiv(){
	var display=$('#hiddendiv').css('display');
	if(display=='none'){
		$('#hiddendiv').css('display','block');
		$('#displaybutton').text('点击关闭分类编辑');
	}else{
		$('#hiddendiv').css('display','none');
		$('#displaybutton').text('点击编辑分类');
	}
}

<!--鼠标离开,关闭编辑分类框-->
function closediv(){
		$('#hiddendiv').css('display','none');
		$('#displaybutton').text('点击编辑分类');
}
</script>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Target Material Design Bootstrap Admin Template</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="${BASE_PATH }static/backend/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="${BASE_PATH }static/backend/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="${BASE_PATH }static/backend/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="${BASE_PATH }static/backend/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="${BASE_PATH }static/backend/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="${BASE_PATH }static/backend/assets/js/Lightweight-Chart/cssCharts.css">
	<script src="${BASE_PATH }static/backend/assets/js/jquery-1.10.2.js"></script>

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href="index.html"><i class="large material-icons">track_changes</i> <strong>新闻中心</strong></a>
				
		<div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>

			<!--右侧菜单列表-->
			<ul class="nav navbar-top-links navbar-right">
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>John Doe</b> <i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</nav>
		<!-- Dropdown Structure -->
		<ul id="dropdown1" class="dropdown-content">
			<li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
			</li>
		</ul>


		<!--左侧菜单  -->
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="../admin" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i> 信息统计</a>
                    </li>
                    <li>
                        <a href="newscenter_publish" class="active-menu waves-effect waves-dark"><i class="fa fa-desktop"></i> 新闻发布信息</a>
                    </li>

                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
<!--菜单栏+右中内容的大盒子-->
<div id="page-wrapper">
	<div class="header"> 
        <h1 class="page-header">
                	新闻发布信息
        </h1>
	    <ol class="breadcrumb">
			<li><a href="../admin">首页</a></li>
			<li><a href="newscenter_publish">新闻中心 </a></li>
			<li><a href="newscenter_publish">新闻发布信息 </a></li>
			<!--<li class="active">Data</li>-->
		</ol> 							
	</div>
		<!--666-->
	<div id="page-inner"> 
		
		<div class="row">
			<div class="col-lg-12">
	            <div class="card">
	            	<div class="card-action">
                            	发布新闻
                    </div>
					<div class="card-content">
						<form class="form-horizontal" name="form1" action="" method="post" id="form1">
							<input type="hidden" name="model.id" class="form-control" id="model.id"
								   value="${model.id!'0'}">
							<div class="row">
								<!--文章分类栏目-->
								<div class="form-group">
									<label for="model.album_id" class="col-sm-2 control-label">栏目</label>
									<div class="col-sm-10" >
										<select  class="form-control" name="model.album_id" id="select">
											<option value="-1">--请选择栏目--</option>
											<%  //var albums=tempTrd.albums();
											if(!isEmpty(albums)) {
											for(item in albums){ %>
											<option value="${item.id}" ${item.id==model.album_id!0?'selected':''} >${item.name}</option>
											<%
											}
											}
											%>
										</select>
										<!--<button data-toggle="modal" data-target="#myModal">新增分类</button>-->
										<button id="displaybutton" onclick="opendiv();return false;">点击编辑分类</button>
										<!--隐藏div  代替模态框-->
										<div id="hiddendiv" onmouseleave="closediv();return false;" style="display:none;">
											<div class="modal-body">
												<input id="albumname" type="text" name="albumname" placeholder="输入新分类的名称">
												<input type="button" value="确认增加" onclick="oper_addAlbum('0');return false;">
											</div>
											<!--&lt;!&ndash;显示原来的分类&ndash;&gt;-->
											<div class="modal-body">
												<table>
													<thead>
													<th>分类名称</th>
													<th>删除</th>
													</thead>
													<tbody id="modal_tobody">
													<%for(item in albums){ %>
													<tr id="modal${item.id}">
														<td>${item.name}</td>
														<td><a onclick="oper_delAlbum(${item.id!'0'});return false;" aria-hidden="true">删除</a></td>
													</tr>
													<%}%>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!--标题-->
								<div class="form-group">
									<label for="model.name" class="col-sm-2 control-label">标题</label>
									<div class="col-sm-10">
										<input name="model.name" class="form-control" id="model.name"
											   value="${model.name!''}" placeholder="标题">
									</div>
								</div>

								<!--主题图片/网络-->
								<div class="form-group">
									<label for="model.image_net_url" class="col-sm-2 control-label">主题图片</label>
									<div class="col-sm-10">
										<input name="model.image_net_url" class="form-control" id="model.image_net_url"
											   value="${model.image_net_url!''}" placeholder="输入网络图片地址">
										<!--下面是上传图片的,暂时未完成-->
										<input  type="button" value="没有网络图片,点击上传本地图片;如果同时上传,以网络图片为准;" >
										<input type="file" name="model.image_url" class="form-control" id="model.image_urle"
											   value="${model.image_url!''}" placeholder="没有网络图片,点击上传本地图片;如果同时上传,以网络图片为准;">

									</div>
								</div>


								<!--文字内容-->
								<div class="form-group">
									<label for="remark" class="col-sm-2 control-label">内容</label>
									<div class="col-sm-10">
										<script id="editor" type="text/plain" name="model.content"
												style="width: 98%; height: 320px;">${model.content!''}</script>
									</div>
							  </div>

							    <!--
								<div class="input-field col s12">
								  <textarea id="textarea1" class="materialize-textarea"></textarea>
								  <label for="textarea1">分类设置</label>
								</div>-->
								<!--提交按钮-->
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
											<div class="checkbox">
												<label>
												 <input type="button" value="确认发布"  class="waves-effect waves-light btn-large" onclick="oper_save(${model.id!'0'});"/>&nbsp;
												  <input type="button" value="保存草稿箱"  class="waves-effect waves-light btn-large" onclick="oper_savedraft(${model.id!'0'});"/>
												  <!-- <a class="waves-effect waves-light btn-large">保存草稿箱</a>&nbsp;
												<!--  <a class="waves-effect waves-light btn-large">确认发布</a>-->
												</label>
											</div>
										</div>
									</div>

								</div>
							</form>
							</div>

    					<div class="clearBoth"></div>
	   					
					</div>

  				</div>
			</div>	
		</div>		

	</div><!-- /. PAGE WRAPPER  -->

</div>
     <!-- /. WRAPPER  -->

    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="${BASE_PATH }static/backend/assets/js/jquery-1.10.2.js"></script>
    <script src="${BASE_PATH }static/backend/assets/js/bootstrap.min.js"></script>
	
	<script src="${BASE_PATH }static/backend/assets/materialize/js/materialize.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="${BASE_PATH }static/backend/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="${BASE_PATH }static/backend/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="${BASE_PATH }static/backend/assets/js/morris/morris.js"></script>
	

	<script src="${BASE_PATH }static/backend/assets/js/easypiechart.js"></script>
	<script src="${BASE_PATH }static/backend/assets/js/easypiechart-data.js"></script>
	
	<script src="${BASE_PATH }static/backend/assets/js/Lightweight-Chart/jquery.chart.js"></script>
	
    <!-- Custom Js -->
   <script src="${BASE_PATH }static/backend/assets/js/custom-scripts.js"></script>



</body>

</html>
