<%
// 首页图片 13
var topPics = temp.rollPicture(1);

// 最新动态
var newArticles = temp.articlePageTop(1, 10, session.site.siteId);

// 公告
var noticeList = temp.notice(1);

//特派员 300
var specials=	temp.articlePage(1,10,300);

//特卖区 301
var sales=	tempSale.sales(1,5);

//新闻中心 302
var newscenters=tempNewsCenter.newscenters(1,5);

//技术需求 303
var trds=tempTrd.trds(1,5);

//创客活动 304
var makers=tempMaker.makers(1,5);

//政策法规 305
var policys=tempPolicy.policys(1,5);

//科普板块 306
var spps=tempSpp.spps(1,5);

//项目申报 307
var projectapps=tempProjectApp.projectapps(1,5);

//帮扶企业 308
var addoils=tempAddOil.addoils(1,5);

%>
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<!-- meta-tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //meta-tags -->
	<!-- Custom Theme files -->
	<!--<link href="${BASE_PATH }static/frontend/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="${BASE_PATH }static/frontend/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="${BASE_PATH }static/frontend/css/font-awesome.css" rel="stylesheet"> 	-->		<!-- font-awesome icons -->
	<link rel="stylesheet" href="${BASE_PATH }static/frontend/css/indexAll.css" />
	<!-- //Custom Theme files -->
	<!-- js -->
	<script src="${BASE_PATH }static/frontend/js/jquery-1.11.1.min.js"></script>
	<!-- //js -->
	<!-- web-font -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
	<!-- //web-font -->
	<style>

	/*
	 2个：50%
	 4个：25%
	 5个：20%
	 8个：12.5%
	 */
	/*公共样式*/
	.homepage_centger{display: flex;flex-direction: row;flex-wrap:wrap;}
	.homepage_centger ul{padding:5px;}
	.hc-top,.hc-foot{text-align: center;padding: 3px;background: #58C56F;color: white;}

	.hc-center div a{display: flex;justify-content: space-between;color:rosybrown;}
	.hc-center div a:hover{color: cornflowerblue;}

	.hc-foot a{color: white;display:inline-block;width: 100%;height: 100%;}
	.hc-foot a:hover{color: #F6D6FF;}
	/*手机*/
	@media screen and (min-width:320px) and (max-width:768px){
		.homepage_centger ul {width: 50%;}
		.hc-top{width: 100%;height: 50px;}
		.hc-top p{line-height:50px;font-size: 12px;}
		.hc-center{font-size: 9px;}
		.hc-foot{font-size: 9px;}
		.header .navbar-default .navbar-nav > li > a {
			color: rosybrown;
		}
	}
	/*平板*/
	@media screen and (min-width:769px) and (max-width:991px){
		.homepage_centger ul {width: 33.33%;}
		.hc-top{width: 100%;height: 100px;}
		.hc-top p{line-height:100px;font-size: 15px;}
		.hc-center{font-size: 10px;}
		.hc-foot{font-size: 10px;}

	}
	/*电脑桌面*/
	@media screen and (min-width:922px) and (max-width:1999px){
		.homepage_centger ul {width: 25%;}
		.hc-top{width: 100%;height: 150px;}
		.hc-top p{line-height:150px;font-size: 25px;}
		.hc-center{font-size: 14px;}
		.hc-foot{font-size: 20px;}
	}
	/*超大屏幕*/
	@media screen and (min-width:1200px){
		.homepage_centger ul{width: 25%;}
		.hc-top{width: 100%;height: 200px;}
		.hc-top p{line-height:200px;font-size: 30px;}
		.hc-center{font-size: 16px;}
		.hc-foot{font-size: 20px;}

	}

</style>
</head>
<body>
<!-- header -->
<div class="header">
	<div class="container">
		<div class="header-nav">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html"><span>科技</span>特派员创业扶贫联盟平台</a></h1>
				</div>
				<!-- 收集的导航链接，和其他形式的内容，锁定 -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="hvr-bounce-to-bottom active"><a href="index.html">主页</a></li>
						<li class="hvr-bounce-to-bottom"><a href="special.html" />特派员</a></li>
						<li class="hvr-bounce-to-bottom"><a href="sale.html" />特卖区</a></li>
						<li class="hvr-bounce-to-bottom"><a href="newscenter.html" />新闻中心</a></li>
						<li class="hvr-bounce-to-bottom"><a href="trd.html" />技术需求</a></li>
						<li class="hvr-bounce-to-bottom"><a href="maker.html" />创客活动</a></li>
						<li class="hvr-bounce-to-bottom"><a href="policy.html" />政策法规</a></li>
						<li class="hvr-bounce-to-bottom"><a href="spp.html" />科普板块</a></li>
						<li class="hvr-bounce-to-bottom"><a href="projectapp.html" />项目申报</a></li>
						<li class="hvr-bounce-to-bottom"><a href="addoil.html" />帮扶企业</a></li>
						<!--<li class="hvr-bounce-to-bottom"><a href="front/regist.html">注册</a></li>-->
						<li class="hvr-bounce-to-bottom"><a href="front/login.html">登录/注册</a></li>
						<li class="hvr-bounce-to-bottom"><a href="contactus.html" />联系我们</a></li>
					</ul>
				</div><!-- //navbar-collapse -->
			</nav>
		</div>
	</div>
</div>
<!-- //header -->
<!-- banner -->
<div class="banner">
	<!-- Slider-starts-Here -->
	<script src="${BASE_PATH }static/frontend/js/responsiveslides.min.js"></script>
	<script>
			// You can also use "$(window).load(function() {"
			$(function () {
			  // Slideshow 3
			  $("#slider3").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
				  $('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				  $('.events').append("<li>after event fired.</li>");
				}
			  });

			});
		</script>
	<!-- //End-slider-script -->

		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider3">
				<li>
					<div class="banner-info" >
						<div class="baner-w3text">
							<h3>“科学探索奖”：首期十亿元大奖将带来哪些改变</h3>
							<p>科学探索奖</p>
						</div>
					</div>
				</li>
				<li>
					<div class="banner-info1">
						<div class="baner-w3text">
							<h3>聚焦企业创新发展生态圈！园区携手相城区共建开发区企</h3>
							<p>聚焦企业创新</p>
						</div>
					</div>
				</li>
				<li>
					<div class="banner-info2">
						<div class="baner-w3text">
							<h3>创新“照亮”未来 互联网大咖聊人工智能</h3>
							<p>互联网大咖聊人工智能</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="homepage_centger">
		<ul>
			<li class="hc-top"><p>特卖区</p></li>
			<li class="hc-center">
				<% for(item in sales.list){ %>
				<% if(itemLP.index > 0){ %>
				<div><a href="${BASE_PATH }front/sale/article/${item.id}.html"title="${item.title}">
			<b>
								<% if (strutil.length(item.name) > 8) { %>
								${strutil.subStringTo(item.name, 0, 8)}...
								<% 	} else { %>
								${item.name}
								<%  } %></b>
					<p>${flyfox.substr(item.create_time,0,19) }</p></a></div>
				<% } %>
				<% } %>
			</li>
			<li class="hc-foot"><a href="sale.html">浏览更多</a></li>
		</ul>
		<ul>
			<li class="hc-top"><p>新闻中心</p></li>
			<li class="hc-center">
				<% for(item in newscenters.list){ %>
				<% if(itemLP.index > 0){ %>
				<div><a href="${BASE_PATH }front/newscenter/article/${item.id}.html"title="${item.title}">
								<b>
									<% if (strutil.length(item.name) > 8) { %>
									${strutil.subStringTo(item.name, 0, 8)}...
									<% 	} else { %>
									${item.name}
									<%  } %></b>
					<p>${flyfox.substr(item.create_time,0,19) }</p></a></div>
				<% } %>
				<% } %>
			</li>
			<li class="hc-foot"><a href="newscenter.html">浏览更多</a></li>
		</ul>
		<ul>
			<li class="hc-top"><p>技术需求</p></li>
			<li class="hc-center">
				<% for(item in trds.list){ %>
				<% if(itemLP.index > 0){ %>
				<div><a href="${BASE_PATH }front/trd/article/${item.id}.html" title="${item.title}">
								<b>
									<% if (strutil.length(item.name) > 8) { %>
									${strutil.subStringTo(item.name, 0, 8)}...
									<% 	} else { %>
									${item.name}
									<%  } %></b>
					<p>${flyfox.substr(item.create_time,0,19) }</p></a></div>
				<% } %>
				<% } %>
			</li>
			<li class="hc-foot"><a href="trd.html">浏览更多</a></li>
		</ul>
		<ul>
			<li class="hc-top"><p>专家对接</p></li>
			<li class="hc-center">
				<div><a href="#"><b>绿水青山富农家</b><p>2018-11-15 10:20:00</p></a></div>
				<div><a href="#"><b>绿水青山富农家</b><p>2018-11-15 10:20:00</p></a></div>
				<div><a href="#"><b>绿水青山富农家</b><p>2018-11-15 10:20:00</p></a></div>
			</li>
			<li class="hc-foot"><a href="special.html">浏览更多</a></li>
		</ul>
		<ul>
			<li class="hc-top"><p>创客活动</p></li>
			<li class="hc-center">
				<% for(item in makers.list){ %>
				<% if(itemLP.index > 0){ %>
				<div><a href="${BASE_PATH }front/maker/article/${item.id}.html" title="${item.title}">
								<b>
									<% if (strutil.length(item.name) > 8) { %>
									${strutil.subStringTo(item.name, 0, 8)}...
									<% 	} else { %>
									${item.name}
									<%  } %></b>
					<p>${flyfox.substr(item.create_time,0,19) }</p></a></div>
				<% } %>
				<% } %>
			</li>
			<li class="hc-foot"><a href="maker.html">浏览更多</a></li>
		</ul>
		<ul>
			<li class="hc-top"><p>政策法规</p></li>
			<li class="hc-center">
				<% for(item in policys.list){ %>
				<% if(itemLP.index > 0){ %>
				<div><a href="${BASE_PATH }front/policy/article/${item.id}.html" title="${item.title}">
								<b>
									<% if (strutil.length(item.name) > 8) { %>
									${strutil.subStringTo(item.name, 0, 8)}...
									<% 	} else { %>
									${item.name}
									<%  } %></b>
					<p>${flyfox.substr(item.create_time,0,19) }</p></a></div>
				<% } %>
				<% } %>
			</li>
			<li class="hc-foot"><a href="policy.html">浏览更多</a></li>
		</ul>
		<ul>
			<li class="hc-top"><p>科普板块</p></li>
			<li class="hc-center">
				<% for(item in spps.list){ %>
				<% if(itemLP.index > 0){ %>
				<div><a href="${BASE_PATH }front/spp/article/${item.id}.html"title="${item.title}">
									<b>
										<% if (strutil.length(item.name) > 8) { %>
										${strutil.subStringTo(item.name, 0, 8)}...
										<% 	} else { %>
										${item.name}
										<%  } %></b>
					<p>${flyfox.substr(item.create_time,0,19) }</p></a></div>
				<% } %>
				<% } %>
			</li>
			<li class="hc-foot"><a href="spp.html">浏览更多</a></li>
		</ul>
		<ul>
			<li class="hc-top"><p>帮扶企业</p></li>
			<li class="hc-center">
				<% for(item in addoils.list){ %>
				<% if(itemLP.index > 0){ %>
				<div><a href="${BASE_PATH }front/addoil/article/${item.id}.html" title="${item.title}">
								<b>
									<% if (strutil.length(item.name) > 8) { %>
									${strutil.subStringTo(item.name, 0, 8)}...
									<% 	} else { %>
									${item.name}
									<%  } %></b>
					<p>${flyfox.substr(item.create_time,0,19) }</p></a></div>
				<% } %>
				<% } %>

			</li>
			<li class="hc-foot"><a href="addoil.html">浏览更多</a></li>
		</ul>
	</div>
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-agileitsrow">
				<!--<div class="col-md-3 footer-grid">
					<h3>临时演员</h3>
					<p>[医]金红花，[医]金红花[NS][NS]。[医]小叶蝉。佩列斯克征服了达官贵人。</p>
				</div>-->
				<div class="col-md-3 footer-grid">
					<h3> 社会化媒体</h3>
					<ul>
						<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> qq</a></li>
						<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> 微信</a></li>
						<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> 邮箱</a></li>
						<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> 官网</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>有用信息</h3>
					<ul>
						<li><a href="index.html">首页</a></li>
						<li><a href="about.html">关于</a></li>
						<li><a href="index.html">博客</a></li>
						<li><a href="contact.html">接触</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>联系我们</h3>
					<p>玉林市科技局</p>
					<div class="footer-grid-address">
						<p>电话.800-255-9999</p>
						<p>传真: 1234 568</p>
						<p>邮箱: <a class="email-link" href="mailto:info@example.com">Example.com</a></p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="copy-right">
		<p>玉林市科技局所有 &copy; 桂公网安备 31011502002267号</p>
	</div>

	<!-- //footer -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="${BASE_PATH }static/frontend/js/move-top.js"></script>

	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>

	<script type="text/javascript" src="${BASE_PATH }static/frontend/js/indexAll.js" ></script>

</body>
</html>