<!DOCTYPE html>
<html lang="en">
<head>
    <title>项目申报</title>
    <!-- meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta-tags -->
    <!-- Custom Theme files -->
    <link href="${BASE_PATH }static/frontend/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="${BASE_PATH }static/frontend/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="${BASE_PATH }static/frontend/css/projectapp/xiangmushenbao.css" />
    <link href="${BASE_PATH }static/frontend/css/font-awesome.css" rel="stylesheet"> 			<!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="${BASE_PATH }static/frontend/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!-- web-font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <!-- //web-font -->
    <script>

    </script>
</head>
<body>
<!-- header -->
<% include("/template/special/includes/header1.html"){} %>
<!-- //header -->
<!-- centerBox -->
<div class="centerBox container-fluid">
    <div class="row">

        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
            <ul>
                <%  var page = tempProjectApp.alter_projectapps(paginator.pageNo, 10);%>
                <% for(item in page.list){ %>
                    <li><a href="#">${item.pm}、 ${item.name}</a></li>
                <% } %>
            </ul>
        </div>

    </div>

</div>
<!-- //centerBox -->
<!-- footer -->
<% include("/template/special/includes/footer1.html"){} %>
<!-- //footer --><!-- start-smooth-scrolling -->
<script type="text/javascript" src="${BASE_PATH }static/frontend/js/projectapp/xiangmus1henbao.js" ></script>

<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			//$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
</body>
</html>