<div class="header">
		<div class="container">
			<div class="header-nav">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					   <h1><a class="navbar-brand" href="index.html"><span>科技</span>特派员创业扶贫联盟</a></h1>
					</div>
					<!-- 收集的导航链接，和其他形式的内容，锁定 -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="hvr-bounce-to-bottom active"><a href="index.html">主页</a></li>
							<li class="hvr-bounce-to-bottom"><a href="special.html">特派员</a></li>
							<li class="hvr-bounce-to-bottom"><a href="sale.html">特卖区</a></li>
							<li class="hvr-bounce-to-bottom"><a href="newscenter.html">新闻中心</a></li>
							<li class="hvr-bounce-to-bottom"><a href="trd.html">技术需求</a></li>
							<li class="hvr-bounce-to-bottom"><a href="maker.html">创客活动</a></li>
							<li class="hvr-bounce-to-bottom"><a href="policy.html">政策法规</a></li>
							<li class="hvr-bounce-to-bottom"><a href="spp.html">科普板块</a></li>
							<li class="hvr-bounce-to-bottom"><a href="projectapp.html">项目申报</a></li>
							<li class="hvr-bounce-to-bottom"><a href="addoil.html">帮扶企业</a></li>
							<% if(isEmpty(session.session_user)){ %>
							<li class="hvr-bounce-to-bottom"><a href="front/login.html">登录/注册</a></li>
							<% } else { %>
							<li class="hvr-bounce-to-bottom"><a href="${BASE_PATH }front/logout">${session.session_user.username}/退出</a></li>
							<% } %>
							<li class="hvr-bounce-to-bottom"><a href="contactus.html">联系我们</a></li>
						</ul>
					</div><!-- //navbar-collapse -->
				</nav>
			</div>
		</div>
	</div>